<div class="container">
  <div class="row">
    <table *ngIf="products" class="table table-bordered table-dark">
      <thead class="thead-light">
        <tr>
          <th scope="col">Ações</th>
          <th scope="col">Codigo produtos</th>
          <th scope="col">Nome</th>
          <th scope="col">Tipo produto</th>
          <th scope="col">Valor</th>
          <th scope="col">Descrição</th>
          <th scope="col">Selecione um produto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products | async">
          <th scope="row">
            <button class="btn btn-outline-primary md-2"
              (click)="edit(p, p.key)">
              Edit
            </button>
            <button class="btn btn-outline-danger ml-2" (click)="delete(p.key)">
              Delete
            </button>
          </th>
          <td>{{ p.code }}</td>
          <td>{{ p.name }}</td>
          <td>{{ p.dropdown }}</td>
          <td>R${{ p.value }}</td>
          <td>{{ p.text }}</td>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="defaultCheck1"
              />
              <label class="form-check-label" for="defaultCheck1"
                >Marcar produto</label
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end">
    <label class="d-inline-flex p-2 bd-highlight">Cadastrar novos produtos</label>
    <button (click)="goToAddProduct()" class="btn btn-outline-primary md-2">Cadastrar</button>
  </div>
</div>